nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #337ab7;
  }
  
  nav a:hover {
    color: #23527c;
  }
  
  nav h2 {
    margin-top: 0;
    font-weight: bold;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    background-color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  nav li:hover > ul {
    display: block;
  }
  
  body {
      background-color: #0b1622; 
  }
  body {
    margin: 0;
    padding: 0;
    color: #4285f4;
  }
  
  
  .header {
    border: 2px solid #625e5e; /* Bordure de 2 pixels de couleur blanche */
    padding: 20px; /* Espacement intérieur de la nav */
    background-color: #152232; /* Couleur de fond foncée pour contraster avec la bordure blanche */
    margin-bottom: 20px; /* Marge inférieure pour espacer la nav du contenu suivant */
    color: #ffffff;
  }
  
  .header ul {
    list-style-type: none; /* Supprime les puces des listes */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0;
  }
  
  .header li {
    margin: 5px 0; /* Espacement entre les éléments de la liste */
  }
  
  .header a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #fff; /* Couleur du texte des liens */
    font-weight: bold; /* Met le texte en gras */
  }
  html,
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #0b1622, #320d3e);
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  
  